MONGODB_URI=mongodb+srv://pheodigital_db_user:dldPOGoEyxYyoPW4@cluster0.yfbw2hr.mongodb.net/?appName=Cluster0
RABBITMQ_URL=amqps://llxkzdci:H2HBReYlEUEkqwglqtTutYiV6zfQC7R6@dog.lmq.cloudamqp.com/llxkzdci
RABBITMQ_QUEUE_CLICK_EVENTS=click_events
JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d