NODE_ENV=development
PORT=3001
DATABASE_URL=postgres://
POSTGRES_URL=postgres://
PRISMA_DATABASE_URL=prisma+postgres://
JWT_ACCESS_SECRET=another_32_char_secret_from_openssl
JWT_REFRESH_SECRET=another_32_char_secret_from_openssl
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=googleid
GOOGLE_CLIENT_SECRET=googlesecret
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
ALLOWED_ORIGIN=http://localhost:3000