NODE_ENV=development
PORT=3002
BASE_URL=http://localhost:80
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/url_shortener
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/url_shortener
PRISMA_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/url_shortener
REDIS_URL="redis://default:"
# These are still optional for now
CACHE_TTL_SECONDS=86400
JWT_ACCESS_SECRET=your_secret_here
RATE_LIMIT_REDIRECT_RPM=300
RATE_LIMIT_API_RPM=60